body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    /*font-size: 100%;*/
    font-weight: 400;
    line-height: 1.5;
    /* color: #212529;*/
	color: #000;
    background-color: #fff;
    box-sizing:border-box;
	padding:0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:bold;
	margin:0;
}

/* navigation header and footer */
/* From LaTeXML.css */
.ltx_page_header,
.ltx_page_footer { font-size:1rem;text-align:center; }
@media (min-width: 40.0625em){.ltx_page_header,
.ltx_page_footer { font-size:0.95rem;}}
.ltx_page_header *[rel~="prev"],
.ltx_page_footer *[rel~="prev"] { float:left; }
.ltx_page_header *[rel~="up"],
.ltx_page_footer *[rel~="up"]   { display:block; text-align:center; }
/*.ltx_page_footer *[rel~="bibliography"]   { display:inline-block; text-align:center; }*/
.ltx_page_header *[rel~="next"],
.ltx_page_footer *[rel~="next"] {  float:right; }

.ltx_page_header li {
    padding:0.1em 0.2em 0.1em 1em;}
.ltx_page_header  { border-bottom:1px solid; margin-bottom:5px; }
.ltx_page_footer  { clear:both; border-top:1px solid; margin-top:5px;  }

.ltx_page_header:after,
.ltx_page_footer:after,
.ltx_page_content:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }

.ltx_page_footer:before
 { content:"."; display:block; height:0; clear:both; visibility:hidden; }

.ltx_page_logo     { font-size:1em; margin-top: 5px; clear:both; float:right; }
.ltx_page_logo a   { font-variant: small-caps; }
.ltx_page_logo img { vertical-align:-3px; }

/* if shown */
.ltx_page_navbar li { white-space:normal; display:block; overflow:visible;}
/* If ref got turned into span, it's "this section"*/
.ltx_page_navbar li span.ltx_ref { white-space:normal; overflow:visible; }

/*======================================================================
  Document Structure; Titles & Frontmatter */

/* undo bold here to remove the browser's native h# styling,
   at let all other styles override it (with more specific rules)*/
.ltx_title { font-size:1rem; font-weight:normal; }


/*.ltx_page_main{text-rendering:optimizelegibility;}*/
/* from LaTeXML.css 0.8.2 */
.ltx_tocentry  { list-style-type:none; }

/* support for common author block layouts.*/
/* add class ltx_authors_1line to get authors in single line
   with pop-up affiliation, etc. */
.ltx_authors_1line .ltx_creator,
.ltx_authors_1line .ltx_author_before,
.ltx_authors_1line .ltx_author_after { display:inline;}
.ltx_authors_1line .ltx_author_notes { display:inline-block; }
.ltx_authors_1line .ltx_author_notes:before { content:"*"; color:blue;}
.ltx_authors_1line .ltx_author_notes span { display:none; }
.ltx_authors_1line .ltx_author_notes:hover span {
    display:block; position:absolute; z-index:10;
    background:white; text-align:left;
    border: 1px solid black; border-radius: 0 5px 5px 5px; box-shadow: 5px 5px 10px gray; }

/* add class=ltx_authors_multiline to get authors & affliations on separate lines*/
.ltx_authors_multiline .ltx_creator,
.ltx_authors_multiline .ltx_author_before,
.ltx_authors_multiline .ltx_author_after,
.ltx_authors_multiline .ltx_author_notes,
.ltx_authors_multiline .ltx_author_notes .ltx_contact {
    display:block; }

/*======================================================================
  Para level */
.ltx_float {
    margin: 1ex 3em 1ex 3em; }    
td.ltx_subfigure,
td.ltx_subtable,
td.ltx_subfloat { width:50%; }
/* theorems, figure, tables, floats captions.. */
/*Blocks, Lists, Floats */
.ltx_p,
.ltx_quote,
.ltx_block,
.ltx_para {
    display: block; }

.ltx_p{margin:0;}



/*equations not copied from LaTeXML.css */

/* equations in non-aligned mode (not normally used) */
.ltx_eqn_div { display:block; width:95%; /*text-align:center;*/ }


/* Position the tag to look like a normal item bullet. */
li.ltx_item > .ltx_tag {
    display:inline-block; margin-left:-1.5em; min-width:1.5em;
    text-align:right; }
.ltx_item .ltx_tag + .ltx_para,
.ltx_item .ltx_tag + .ltx_para .ltx_p  { display:inline; }

/* NOTE: Need to try harder to get runin appearance? */
dl.ltx_description dt { margin-right:0.5em; float:left;
                    font-weight:bold; font-size:95%; }
dl.ltx_description dd { margin-left:5em; }
dl.ltx_description dl.ltx_description dd { margin-left:3em; }



.ltx_page_content{background:#fff;width:auto;margin:1em 16px;box-sizing:border-box;}
.ltx_page_footer, .ltx_page_header, .w3-container {background:#fff;width:auto;margin:1em 16px;box-sizing:border-box;}
.w3-container {background:#fff;width:auto;margin:1em 16px;box-sizing:border-box;}
@media (min-width:1024px) {.w3-container{width:1000px; margin-left:auto; margin-right:auto;}}

.ltx_page_content>.ltx_note{display:none;}
.ltx_ERROR,.ltx_missing,.ltx_nounicode{color:red;}
.ltx_rdf{display:none;}
.ltx_page_main a, .ltx_page_navbar a{color:#33b;text-decoration:none;word-break:break-word;}
.ltx_page_main a:hover, .ltx_page_main a:focus, .ltx_page_navbar a:hover, .ltx_page_navbar a:focus {text-decoration:underline;}
.ltx_page_main a.ltx_font_typewriter{font-family:inherit;}
.ltx_abstract{border:1px solid #666;padding:16px;margin-bottom:2em;font-family:"Computer Modern Serif",Georgia,serif;font-size:16px; font-size:1rem;line-height:1.5;}
@media (min-width:40.0625em){.ltx_abstract{font-size:19px; font-size:1.188rem;padding:1.5em;}}

.ltx_abstract .ltx_title_abstract{font-family:"Helvetica Neue",Helvetica,sans-serif;font-size:14px;font-size: 0.875rem;line-height:1.5;letter-spacing:.03em;-webkit-font-smoothing:antialiased;font-style:normal;font-weight:400;text-transform:uppercase;margin:0 0 1em;}
@media (min-width:40.0625em) {.ltx_abstract .ltx_title_abstract{font-size:18px; font-size:1.125rem;}}
.ltx_abstract .ltx_note .ltx_note_outer{width:160px}
/* alignment within blocks */
.ltx_align_left{text-align:left;}
.ltx_align_right{text-align:right;}
.ltx_align_center{text-align:center;}
.ltx_align_justify{text-align:justify;}
.ltx_align_top{vertical-align:top;}
.ltx_align_bottom{vertical-align:bottom;}
.ltx_align_middle{vertical-align:middle;}
.ltx_align_baseline{vertical-align:baseline;}

.ltx_inline-block { display:inline-block; }

.ltx_authors, .ltx_authors_1line .ltx_role_creation + .ltx_para{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px;font-size:1rem;line-height:1.5;margin-bottom:1em;}
@media (min-width:40.0625em){.ltx_authors, .ltx_authors_1line .ltx_role_creation + .ltx_para{font-size:19px;font-size:1.188rem;}}

.ltx_authors .ltx_personname{font-weight:700;}
.ltx_authors .ltx_personname .ltx_note_mark:not(:last-child):after{content:",";}
.ltx_authors .ltx_author_before{display:none;}
.ltx_authors .ltx_author_after,.ltx_authors .ltx_author_notes,.ltx_authors .ltx_author_notes .ltx_contact, .ltx_authors .ltx_creator{display:block;}

/* Bibliographies */
.ltx_bibliography dt { margin-right:0.5em; float:left; }
.ltx_bibliography dd { margin-left:3em; }

.ltx_bibliography .ltx_biblist{list-style:none;margin:0;padding:0;}

.ltx_bibliography .ltx_bibitem{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px;font-size:1rem;line-height:1.5;margin:0 0 2em;}
@media (min-width:40.0625em){.ltx_bibliography .ltx_bibitem{font-size:19px;font-size:1.188rem;}}

.ltx_bibliography .ltx_bibitem *{font-size:inherit/*!important*/;}
.ltx_bibliography .ltx_bibitem .ltx_tag_bibitem+.ltx_bibblock{font-style:italic;}
.ltx_bibtag { font-weight:bold; /*margin-left:-2em; width:3em; */}
.ltx_bib_title { font-style:italic; }
.ltx_bib_article .bib-title { font-style:normal !important; }
.ltx_bib_journal  { font-style:italic; }
.ltx_bib_volume { font-weight:bold; }

.ltx_caption{font-family:"Computer Modern Serif",Georgia,serif;/*font-style:italic;*/line-height:1.5;font-size:16px;font-size:1rem;}
@media (min-width:40.0625em){.ltx_caption{font-size:19px;font-size:1.188rem;}}

/*.ltx_caption *{font-size:inherit!important;}*/
.ltx_caption *{font-size:inherit;}

.ltx_cite{font-style:normal;}
/*.ltx_cite,.ltx_cite *{font-size:inherit!important;}*/
.ltx_cite,.ltx_cite *{font-size:inherit;}


.ltx_classification,.ltx_classification .ltx_title_classification{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px;font-size:1rem;line-height:1.5;}
.ltx_classification .ltx_title_classification{font-weight:700;margin:0;}
@media (min-width:40.0625em){.ltx_classification .ltx_title_classification{font-size:19px;font-size:1.188rem;}}

.ltx_classification .ltx_title_classification:first-letter{text-transform:uppercase;}
@media (min-width:40.0625em){.ltx_classification{font-size:18px;font-size:1.125rem;}}

.ltx_date{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px;font-size:1rem;line-height:1.5;font-style:italic;margin-bottom:1em;}
@media (min-width:40.0625em){.ltx_date{font-size:19px;font-size:1.188rem;}}

.ltx_equation_container{width:100%;margin:2em 0;}
@media (max-width:40.0625em){.ltx_equation_container{overflow-x:auto;overflow-y:hidden;}}
.ltx_equation.ltx_eqn_table{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px;font-size:1rem;line-height:1.5;width:100%;}
@media (min-width:40.0625em){.ltx_equation.ltx_eqn_table{font-size:19px;font-size:1.188rem;}}

.ltx_equationgroup{width:100%;}

/* Various lists */
.ltx_itemize,
.ltx_enumerate,
.ltx_description {
    display:block; }
.ltx_itemize .ltx_item,
.ltx_enumerate .ltx_item {
    display: list-item; }

.ltx_itemize{margin:1em 0;padding-left:2.5em;font-family:"Computer Modern Serif",Georgia,serif;font-size:16px; font-size:1rem;line-height:1.5;}
@media (min-width:40.0625em){.ltx_itemize{font-size:19px;font-size:1.188rem;}}
.ltx_enumerate{margin:1em 0;padding-left:2.5em;font-family:"Computer Modern Serif",Georgia,serif;font-size:16px; font-size:1rem;line-height:1.5;}
@media (min-width:40.0625em){.ltx_enumerate{font-size:19px;font-size:1.188rem;}}

.ltx_enumerate>li{padding-left:.5em;}

.ltx_itemize>li{padding-left:.5em;}

:not(.ltx_subfigure)>.ltx_figure{margin:2em 0;max-width:100%;overflow-x:auto;overflow-y:hidden;clear:both; }
:not(.ltx_subfigure)>.ltx_figure .ltx_caption{margin-top:1em;}

.ltx_float{margin:0 0 2em;}
.ltx_font_typewriter{font-family:"Computer Modern Typewriter",monospace;}
.ltx_font_bold{font-weight:700;}
.ltx_font_medium{font-weight:400;}
.ltx_font_italic{font-style:italic;font-variant:normal;}
.ltx_font_upright{font-style:normal;font-variant:normal;}
.ltx_font_slanted{font-style:oblique;font-variant:normal;}
.ltx_font_smallcaps{font-variant:small-caps;font-style:normal;}
.ltx_font_oldstyle{font-variant:oldstyle-nums;font-style:normal;-moz-font-feature-settings:"onum";-ms-font-feature-settings:"onum";-webkit-font-feature-settings:"onum";font-variant-numeric:oldstyle-nums;}
.ltx_font_mathcaligraphic{font-family:"Lucida Calligraphy","Zapf Chancery","URW Chancery L";}
.ltx_framed{border:1px solid #000;}
.ltx_framed_rectangle{border-style:solid;border-width:1px;}
.ltx_framed_top{border-top-style:solid;border-top-width:1px;}
.ltx_framed_left{border-left-style:solid;border-left-width:1px;}
.ltx_framed_right{border-right-style:solid;border-right-width:1px;}
.ltx_framed_bottom,.ltx_framed_topbottom,.ltx_framed_underline{border-bottom-style:solid;border-bottom-width:1px;}
.ltx_framed_topbottom{border-top-style:solid;border-top-width:1px;}
.ltx_framed_leftright{border-left-style:solid;border-left-width:1px;border-right-style:solid;border-right-width:1px;}
.ltx_glossary{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px;font-size:1rem;line-height:1.5;}
@media (min-width:40.0625em){.ltx_glossary{font-size:19px; font-size:1.188em;}}

.ltx_glossary .ltx_glossarylist{margin:0;}
.ltx_glossary .ltx_glossaryentry{font-weight:700;}
.ltx_indent{margin-left:3em;}
/* Indices */
.ltx_index .ltx_title_index{font-family:"Helvetica Neue",Helvetica,sans-serif;font-size:14px;font-size:0.875rem;line-height:1.5;letter-spacing:.03em;-webkit-font-smoothing:antialiased;font-style:normal;font-weight:400;text-transform:uppercase;}
@media (40.0625em){.ltx_index .ltx_title_index{font-size:18px;font-size:1.125rem;}}
.ltx_index .ltx_indexlist{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px;font-size:1rem;line-height:1.5;margin:2em 0;padding:0;list-style-type:none;}
@media (40.0625em){.ltx_index .ltx_indexlist{font-size:19px;font-size:1.188rem;}}
.ltx_indexlist li { list-style-type:none;  }
.ltx_indexlist { margin-left:1em; padding-left:1em;}

.ltx_keywords,.ltx_keywords .ltx_title_keywords{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px;font-size:1rem;line-height:1.5;}
.ltx_keywords .ltx_title_keywords{font-weight:700;margin:0;}
@media (min-width:40.625em){.ltx_keywords .ltx_title_keywords{font-size:19px;font-size:1.188rem;}}

.ltx_listing{font-family:"Computer Modern Typewriter",monospace;font-size:14px;font-size: 0.875rem;line-height:1.5;padding-left:3em;margin:2em 0;}
@media (min-width:40.0625em){.ltx_listing{font-size:16px; font-size:1rem;}}
.ltx_listing .ltx_listing_data{display:none;}
.ltx_listing .ltx_listingline{white-space:nowrap;min-height:1em;}
.ltx_listing .ltx_listingline .ltx_tag{background-color:transparent;margin-left:-4em;width:2.5em;position:absolute;text-align:right;}
.ltx_listing.ltx_lst_numbers_right .ltx_listingline .ltx_tag{background-color:transparent;width:2.5em;position:absolute;right:4em;text-align:right;}

/*.ltx_para{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px!important;line-height:1.5}*/
.ltx_para{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px;font-size:1rem;line-height:1.5;}
@media (min-width:40.0625em){.ltx_para{font-size:19px;font-size:1.188rem;}}
/*@media (min-width:768px) and (max-width:1023px){.ltx_para{font-size:18px!important}}
@media (min-width:1024px) and (max-width:1299px){.ltx_para{font-size:20px!important}}
@media (min-width:1300px){.ltx_para{font-size:24px!important}}*/

/* by default, p doesn't indent */
.ltx_p { text-indent:0em; white-space:normal; }
/* explicit control of indentation (on ltx_para) */
.ltx_indent > .ltx_p:first-child { text-indent:2em!important; }
.ltx_noindent > .ltx_p:first-child { text-indent:0em!important; }


/*.ltx_para+.ltx_para>.ltx_p:first-child{text-indent:2em}*/
.ltx_para+.ltx_para.ltx_noindent>.ltx_p:first-child{text-indent:0;}
.ltx_paragraph{margin:2em 0;}
@media (min-width:40.0625em){.ltx_paragraph{margin:2em 0;}}
.ltx_proof .ltx_title_proof{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px;font-size:1rem;line-height:1.5;}
@media (min-width:40.0625em){.ltx_proof .ltx_title_proof{font-size:19px;font-size:1.188rem;}}
.ltx_quote{margin:2em 0 2em 3em;}
.ltx_red{color:red;}
.ltx_runin{display:inline;}
.ltx_runin:after{content:" "}
.ltx_runin+.ltx_para,.ltx_runin+.ltx_para p,.ltx_runin+p{display:inline;}

.ltx_outdent { margin-left: -2em; }

.ltx_appendix,.ltx_bibliography,.ltx_section{margin:2em 0;}
@media (min-width:40.0625em){.ltx_appendix,.ltx_bibliography,.ltx_section{margin:2em 0;}}
.ltx_subsection{margin:2em 0;}
@media (min-width:40.0625em){.ltx_subsection{margin:2em 0;}}
.ltx_subsubsection{margin:1em 0;}
@media (min-width:40.0625em){.ltx_subsubsection{margin:1em 0;}}
.ltx_table{margin:2em 0;max-width:100%;overflow-x:auto;}
.ltx_table .ltx_caption{margin-top:1em;}
.ltx_tabular{font-family:"Helvetica Neue",Helvetica,sans-serif;font-size:12px;font-size:0.75rem;border-collapse:collapse;margin:2em 0;}
@media (min-width:40.0625em){.ltx_tabular{font-size:16px; font-size:1rem;}}
.ltx_tabular .ltx_td,.ltx_tabular .ltx_th{padding:.3em .8em!important;}
@media (min-width:768px){.ltx_tabular .ltx_td,.ltx_tabular .ltx_th{padding:.5em .8em!important;}}
.ltx_tabular .ltx_td.ltx_align_justify,.ltx_tabular .ltx_th.ltx_align_justify{text-align:left;}
.ltx_tabular .ltx_border_t{border-top:1px solid #000;}
.ltx_tabular .ltx_border_r{border-right:1px solid #000;}
.ltx_tabular .ltx_border_b{border-bottom:1px solid #000;}
.ltx_tabular .ltx_border_l{border-left:1px solid #000;}
.ltx_tabular .ltx_border_tt{border-top:1px solid #000;}
.ltx_tabular .ltx_border_rr{border-right:1px solid #000;}
.ltx_tabular .ltx_border_bb{border-bottom:1px solid #000;}
.ltx_tabular .ltx_border_ll{border-left:1px solid #000;}
.ltx_tabular .ltx_border_T{border-top:1px solid grey;}
.ltx_tabular .ltx_border_R{border-right:1px solid grey;}
.ltx_tabular .ltx_border_B{border-bottom:1px solid grey;}
.ltx_tabular .ltx_border_L{border-left:1px solid grey;}

/* Theorems */
.ltx_theorem  {margin:1em 0em 1em 0em; }
.ltx_title_theorem { font-size:16px; font-size:1rem;margin-bottom:15px;}
@media (min-width:40.0625em){.ltx_title_theorem { font-size:19px; font-size:1.188rem;}}
.ltx_theorem{/*margin-top:2em;*/margin-bottom:20px;}
/*.ltx_theorem .ltx_title_theorem{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px!important;line-height:1.5}
@media (min-width:768px) and (max-width:1023px){.ltx_theorem .ltx_title_theorem{font-size:18px!important}}
@media (min-width:1024px) and (max-width:1299px){.ltx_theorem .ltx_title_theorem{font-size:20px!important}}
@media (min-width:1300px){.ltx_theorem .ltx_title_theorem{font-size:24px!important}}*/

.ltx_title_document{font-family:/*"Computer Modern Serif",Georgia,serif;*/"Helvetica Neue",Helvetica,sans-serif;font-weight:400;/*margin:1em 0 1em;*/ margin-bottom: 20px;font-size:28px;font-size:1.75rem;line-height:1.1;}
@media (min-width:40.0625em){.ltx_title_document{font-size:40px;font-size:2.25rem;/*min-height:2em;*/margin-bottom:30px;}}

/*added part titles */
.ltx_title_part{font-family:/*"Computer Modern Serif",Georgia,serif;*/"Helvetica Neue",Helvetica,sans-serif;font-weight:400;/*margin:1em 0;*/ margin-bottom: 20px; /*max-width:13em;*/font-size:26px;font-size:1.625rem;line-height:1.1;}
@media (min-width:40.0625em){.ltx_title_part{font-size:32px;font-size:2rem;/*min-height:2em;*/margin-bottom:30px;}}
/*@media (min-width:1300px){.ltx_title_part{font-size:42px!important;min-height:2em}}*/
.ltx_title_part .ltx_tag_part{display:block;margin-bottom:1em;}


/*end part */
.ltx_title_chapter{font-family:/*"Computer Modern Serif",Georgia,serif*/"Helvetica Neue",Helvetica,sans-serif;font-weight:400;/*margin:1em 0;*/ margin-bottom:15px;/*max-width:13em;*/font-size:24px;font-size:1.5rem;line-height:1.1;}
@media (min-width:40.0625em){.ltx_title_chapter{font-size:30px;font-size:1.875rem;/*min-height:2em;*/ margin-bottom:25px;}}
/*@media (min-width:1300px){.ltx_title_chapter{font-size:40px!important;min-height:2em}}*/
/*.ltx_title_chapter .ltx_tag_chapter{display:block;margin-bottom:1em}*/
.ltx_title_chapter .ltx_tag_chapter{display:block;margin-bottom:1em;}

.ltx_title_appendix,.ltx_title_bibliography,.ltx_title_section{font-family:"Helvetica Neue",Helvetica,sans-serif;font-size:22px;font-size:1.375rem;letter-spacing:.03em;-webkit-font-smoothing:antialiased;font-style:normal;font-weight:400;/*text-transform:uppercase;*/margin-bottom:15px;line-height:1.1;}
@media (min-width:40.0625em) {
.ltx_title_appendix,.ltx_title_bibliography,.ltx_title_section{font-size:26px; font-size:1.625rem;margin-bottom:25px;}}

.ltx_title_appendix .ltx_tag_section,.ltx_title_bibliography .ltx_tag_section,.ltx_title_section .ltx_tag_section{display:inline;}

.ltx_title_appendix .ltx_tag_appendix{margin-right:2em;}

.ltx_title_subsection{font-family:"Helvetica Neue",Helvetica,sans-serif;font-size:font-size:20px; font-size:1.125rem;letter-spacing:.03em;-webkit-font-smoothing:antialiased;font-style:normal;font-weight:400;/*text-transform:uppercase;*/margin-bottom:15px;line-height:1.1;}
@media (min-width:40.0625em){.ltx_title_subsection{font-size:24px; font-size:1.5rem;}}
/*@media (min-width:768px) and (max-width:1023px){.ltx_title_subsection{font-size:24px!important}}
@media (min-width:1024px){.ltx_title_subsection{font-size:16px!important}}*/
@media (min-width:40.0625em){.ltx_title_subsection{/*margin:2em 0;*/ margin-bottom:20px;}}
.ltx_title_subsection .ltx_tag_subsection{display:inline;/*padding-right:0.75em;*//*min-width:50px;*/}

.ltx_title_subsubsection{font-family:"Helvetica Neue",Helvetica,sans-serif;font-size:16px;font-size:1rem;font-weight:400;/*margin:0 0 1em;*/ margin-bottom:15px;line-height:1.1;}
@media (min-width:40.0625em){.ltx_title_subsubsection{font-size:19px; font-size:1.188rem;margin-bottom:20px;}}

/*.ltx_title_subsubsection .ltx_tag_subsubsection{display:none;}*/
.ltx_title_subsubsection .ltx_tag_subsubsection{display:inline;}

.ltx_TOC h6{font-family:"Helvetica Neue",Helvetica,sans-serif;font-size:16px;font-size:1rem;line-height:1.5;letter-spacing:.03em;-webkit-font-smoothing:antialiased;font-style:normal;font-weight:400;/*text-transform:uppercase;*/}
@media (min-width:40.0625em){.ltx_TOC h6{font-size:19px;font-size:1.188rem;}}


.ltx_title_paragraph {font-family:"Computer Modern Serif",Georgia,serif;/*"Helvetica Neue",Helvetica,sans-serif;*/font-size:16px;font-size:1rem;line-height:1.5;/*font-weight:700;*/margin:0 0.75em 0 0;}
/*.ltx_title_paragraph{font-family:"Computer Modern Serif",Georgia,serif;font-size:2rem !important;line-height:1.5;font-weight:700;margin:0 .75em 0 0;float:left; color:red;}*/
@media (min-width:40.0625em) {.ltx_title_paragraph{font-size:19px;font-size:1.188rem;}}

.ltx_paragraph .ltx_title {display:inline; /*color:red;*/font-weight:bold;}
@media (min-width:40.0625em){.ltx_paragraph .ltx_title{font-size:19px; font-size:1.188rem;}}
/*@media (min-width:1024px) and (max-width:1299px){.ltx_paragraph .ltx_title{font-size:20px!important}}
@media (min-width:1300px){.ltx_paragraph .ltx_title{font-size:24px!important}} */
.ltx_paragraph .ltx_title + .ltx_para, .ltx_paragraph .ltx_title + .ltx_para >.ltx_p {display:inline;}

.ltx_title_subparagraph{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px; font-size:1rem;line-height:1.5;font-weight:700;margin:0 .75em 0 0;float:left;}
@media (min-width:40.0625em){.ltx_title_subparagraph{font-size:19px; font-size:1.188rem;}}
.ltx_subparagraph .ltx_title,
.ltx_subparagraph .ltx_title + .ltx_para,
.ltx_subparagraph .ltx_title + .ltx_para > .ltx_p { display:inline; }

.ltx_TOC .ltx_toclist{font-family:"Computer Modern Serif",Georgia,serif;font-size:16px;font-size:1rem;line-height:1.5;margin:1em 0;padding:0;list-style-type:none;}
/*@media (min-width:768px) and (max-width:1023px){.ltx_TOC .ltx_toclist{font-size:18px!important}}
@media (min-width:1024px) and (max-width:1299px){.ltx_TOC .ltx_toclist{font-size:20px!important}}
@media (min-width:1300px){.ltx_TOC .ltx_toclist{font-size:24px!important}}*/
.ltx_TOC .ltx_toclist li {margin-left:0.5em;}
.ltx_page_main .ltx_TOC .ltx_toclist {font-size:16px;font-size:1rem;}
@media (min-width:40.0625em) {.ltx_page_main .ltx_TOC .ltx_toclist {font-size:19px;font-size:1.188rem;}}

.ltx_verbatim{font-family:"Computer Modern Typewriter",monospace;font-size:14px;font-size:0.875rem;line-height:1.5;}
@media (min-width:40.0625em){.ltx_verbatim{font-size:font-size:14px;font-size:1rem;}}

@font-face{font-family:"Computer Modern Serif";src:url(fonts/serif/cmunrm.woff) format("woff");font-weight:400;font-style:normal;font-display:"auto"}
@font-face{font-family:"Computer Modern Serif";src:url(fonts/serif/cmunbx.woff) format("woff");font-weight:700;font-style:normal;font-display:"auto"}
@font-face{font-family:"Computer Modern Serif";src:url(fonts/serif/cmunti.woff) format("woff");font-weight:400;font-style:italic;font-display:"auto"}
@font-face{font-family:"Computer Modern Serif";src:url(fonts/serif/cmunbi.woff) format("woff");font-weight:700;font-style:italic;font-display:"auto"}
@font-face{font-family:"Computer Modern Typewriter";src:url(fonts/typewriter/cmuntt.woff) format("woff");font-weight:400;font-style:normal;font-display:"auto"}
@font-face{font-family:"Computer Modern Typewriter";src:url(fonts/typewriter/cmuntb.woff) format("woff");font-weight:700;font-style:normal;font-display:"auto"}
@font-face{font-family:"Computer Modern Typewriter";src:url(fonts/typewriter/cmunit.woff) format("woff");font-weight:400;font-style:italic;font-display:"auto"}
@font-face{font-family:"Computer Modern Typewriter";src:url(fonts/typewriter/cmuntx.woff) format("woff");font-weight:700;font-style:italic;font-display:"auto"} 

/* div containing TOC button */
.w3-container .buttonHolder {
    float:left;
    clear:left;
    width:16rem;
}
/* from LaTeXML.css */
/*======================================================================
 Meta stuff, footnotes */
 
.ltx_note_content { display:none; }
.ltx_note_outer{font-family:"Computer Modern Serif",Georgia,serif;font-style:italic;line-height:1.5;font-size:12px!important;}@media (min-width:768px) and (max-width:1023px){.ltx_note_outer{font-size:14px!important;}}@media (min-width:1024px){.ltx_note_outer{font-size:16px!important;}}.ltx_note_outer .ltx_note_mark{vertical-align:inherit;font-size:inherit;margin-right:.25em;} .ltx_note_outer .ltx_tag{display:none;}
/*right:5%;  */
/*.ltx_note_content {
     max-width: 70%; font-size:80%; left:15%;
     text-align:left;
     background:#E0E0E0; border:3px outset gray; }
.ltx_note_mark    { color:blue; }
.ltx_note_type    { font-weight: bold; display: none;}
.ltx_note { display:inline-block; text-indent:0; } *//* So we establish containing block */
/* .ltx_note:hover .ltx_note_content 
   { display:block; position:absolute; z-index:10; } */
.MathJax_Display {
    text-align: left !important;
}



/* was in local esdc.css */
.esdc_tb::after, .esdc_tb::before {content:"";display:table;clear:both;}
.w3-container,.w3-panel{ /* padding:0.01em 16px; */}
.w3-container::after,.w3-container::before,.w3-panel::after,.w3-panel::before,.w3-row::after,.w3-row::before,.w3-row-padding::after,.w3-row-padding::before,
.w3-cell-row::before,.w3-cell-row::after,.w3-clear::after,.w3-clear::before,.w3-bar::before,.w3-bar::after{content:"";display:table;clear:both;}
/* displaying math in captions */
.ltx_figure .ltx_caption .MathJax, .ltx_table .ltx_caption .MathJax {padding-right:0.1em;}
.ltx_align_center .ltx_caption {text-align:left;}

.w3-container {padding-top:2px;}

#search_box_nav {
	width:auto;
	clear:none;
	float:right;
	line-height:1.5;
}
input, button, .button {
  width : 10rem;
  padding: 0;
  margin: 2px;
  box-sizing: border-box;
  font-size: 1rem;
}
input, button {
	
	border: solid 1px #888;
}

.ltx_figure .ltx_caption .ltx_tag, .ltx_table .ltx_caption .ltx_tag {font-weight:bold;}
.ltx_table .ltx_tabular { margin:auto; }
.ltx_figure img.ltx_centering {margin-left:auto;margin-right:auto;display:block;}

/* skip navigation link */
#skiptocontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:#BF1722;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}

#skiptocontent a:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline-color:transparent;	
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

@media (prefers-reduced-motion: reduce) {
	#skiptocontent a {
		transition-duration: 0.001ms !important;
	}
}
